body{
  position: relative;
}
p{
  font-family: Inconsolata,sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 1.5% 0 0 0.1% !important;
}
.row-first{
      height: 160px;
}
img{
}
.Scarecrow{
  width:539px;
  height: 414px;
}
.fontprob{
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  font-size: 58px;
}
.fontprob2{
  font-family: monospace;
  font-size: 24px;
  width: 381px;
}
input[type="button"]{
  margin-top:64px;
  padding: 24px 43px;
  color: #fff;
  background-color: #333;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  border-color: #333;
}
input[type="button"]:hover, img:hover{
  opacity: 0.8;
}
footer p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 70px 0 20px 0 !important;
}
